@use "../abstracts/" as *;

.kasa-header {
    padding: 45px 100px 0;
}

.kasa-homepage {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media (max-width: 768px) {
    .kasa-header {
        margin: 20px 20px 0;
        padding: 0;
    }
    .kasa-homepage {
        padding: 27px 20px;
        gap: 22px;
    }
}
