@use "../abstracts/" as *;

.kasa-dropdown-wrapper {
    margin: 38px 108.5px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.kasa-dropdown-header {
    background-color: $primary-color;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 8px 20px;
    h2 {
        font: 700 24px $font-stack;
        color: #fff;
    }
    span {
        padding-top: 2px;
        max-height: 32px;
    }
}

.kasa-dropdown-item {
    display: flex;
    flex-direction: column;
    transition: max-height 500ms ease-out, opacity 400ms;
    max-height: 300px;
    .kasa-dropdown-children {
        font: 400 18px $font-stack;
        line-height: 143%;
        padding: 16px 20px 20px;
        background-color: $grid-background-color;
        border-radius: 5px;
        height: 100%;
    }
    img {
        transition: all 200ms;
    }
}

.kasa-dropdown-item-hidden {
    display: flex;
    flex-direction: column;
    transition: max-height 500ms ease-out, opacity 400ms;
    max-height: 54px;
    overflow: hidden;
    .kasa-dropdown-children {
        font: 400 18px $font-stack;
        line-height: 143%;
        padding: 25px 20px 20px 28px;
        background-color: $grid-background-color;
        border-radius: 5px;
    }

    img {
        transition: all 200ms;
        transform: rotate(180deg);
    }
}

.kasa-rental-dropdown {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 76px;
    margin-top: 24px;
    h2 {
        font: 700 18px $font-stack;
    }
}

@media (max-width: 768px) {
    .kasa-dropdown-wrapper {
        height: 100%;
        gap: 20px;
        width: 100%;
        margin: 19px 0 0 0;
        img {
            height: 15px;
        }
    }
    .kasa-dropdown-item-hidden {
        max-height: 30px;
        .kasa-dropdown-children {
            font: 400 12px $font-stack;
            line-height: 143%;
            padding: 13px 20px 19px;
            background-color: $grid-background-color;
            border-radius: 5px;
            height: 100%;
        }
    }
    .kasa-dropdown-header {
        max-height: 30px;
        padding: 7.5px 10px;
        h2 {
            font: 700 13px $font-stack;
        }
        span {
            height: 12px;
        }
    }
    .kasa-dropdown-item {
        .kasa-dropdown-children {
            font: 400 12px $font-stack;
            line-height: 143%;
            padding: 13px 20px 19px;
            background-color: $grid-background-color;
            border-radius: 5px;
            height: 100%;
        }
    }
}
