@use "../abstracts/" as *;

.kasa-rental-host {
    grid-area: host;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 10px;
    img {
        object-fit: cover;
        width: 64px;
        height: 64px;
        border-radius: 64px;
    }
    span {
        font: 500 18px $font-stack;
        color: $primary-color;
        display: block;
        width: min-content;
        align-self: center;
    }
}

@media (max-width: 768px) {
    .kasa-rental-host {
        img {
            width: 32px;
            height: 32px;
        }
        span {
            font-size: 12px;
        }
    }
}
