@use "../abstracts/" as *;

.kasa-tags {
    grid-area: tags;
    display: flex;
    align-self: center;
    gap: 10px;
    min-height: 25px;
    span {
        font: 700 14px $font-stack;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        max-height: 25px;
        padding: 0 15px;
        border-radius: 10px;
    }
}

@media (max-width: 768px) {
    .kasa-tags {
        min-height: 18px;
        span {
            padding: 1px 15px 0;
            font-size: 10px;
        }
    }
}
