@use "../abstracts/" as *;

footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    height: 209px;
    img {
        max-width: 122px;
    }
    span {
        color: white;
        font-size: 24px;
        font-weight: 500;
        font-family: $font-stack;
    }
}
